@model IEnumerable<TilausDbApp.Models.Tuotteet>
@{
    ViewBag.Title = "ProductCard";
}

<div class="container-fluid">
    <h2>Tuotteet</h2>
    <h4>Tuotteita @Model.Count() kappaletta</h4>
    <p><button class="btn btn-primary">Lisää tuote</button></p>
    
    <div class="row">
        @foreach (TilausDbApp.Models.Tuotteet tuote in Model)
        {
            <div class="col-lg-3">
                <div class="card mb-3">
                    <h3 class="card-header">@tuote.Nimi</h3>
                    <div class="card-body">
                        <h5 class="card-title">@tuote.Ahinta &euro;</h5>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="@tuote.Kuvalinkki" alt="@tuote.Kuvalinkki" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card-footer text-muted">
                        Id: @tuote.TuoteID
                    </div>
                </div>
            </div>
        }
    </div>
</div>
